body {
  background-color: black;
}
ul > li {
  color: white;
  font-family: "Oxygen", sans-serif;
  text-align: left;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 60px;
}
p {
  color: white;
  font-family: "Oxygen", sans-serif;
  text-align: left;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
h1 {
  color: white;
  font-size: 45px;
  font-family: "Merriweather", serif;
}
.header-background {
  height: 430px;
  width: 100vw;
  background-color: white;
}
#img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#box-title {
  display: flex;

  flex-wrap: wrap;
  background-color: white;
  height: 100px;
  width: 350px;
  border: 5px solid black;
  justify-content: center;
}
#title-item {
  font-size: 25px;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.content-items {
  border: 5px dashed white;
  margin-top: 100px;
  padding: 0 25px;
  height: 800px;
  width: 450px;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover {
  text-decoration: underline;
  color: red;
}
